doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Hourly Rate
    link(href='/index.css', rel='stylesheet')
  body
    .container
      h1 Hourly Rate Calculator
    script(src='/vendor/jquery/dist/jquery.js')

