doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Hourly Rate
    link(href='/index.css', rel='stylesheet')
    link(href='/buttons.css', rel='stylesheet')
  body
    .container1
      h1 Hourly Rate Calculator
      form
        .row
          .container2
            label(for='rate') Hourly Base Rate:
            input#baseRate(type='number', name='baseRate', value='200')
            button.btn.orange#updateRate(type='button') Update Rate
        br
        .row
          .container3
            label(for='rule') Add Rule:
            input#ruleText(type='text', name='ruleText')
            br
            label(for='rule') Price increase/decrease
            select#ruleSign
              option(value='true') +
              option(value='') -
            label(for='rule') $
            input#rule(type='number')
            button.btn.green#createRule.button-primary(type='button') Create Rule
        br
        .row
          .container4
            h1 Final Rate:
            h2 $
              span#finalHourlyRate
        br
      .container5
        h3 Rules Entered:
        table#rulesTable
          tr.new
            th Rule Description
            th Sign
            th Amount
            th Apply





  script(src='/vendor/jquery/dist/jquery.js')
  script(src='/js/rateNamespace.js')
  script(src='/js/main.js')
  script(src='/js/rate.js')

