doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Hourly Rate
    link(href='/index.css', rel='stylesheet')
  body
    .container
      h1 Hourly Rate Calculator
      form
        .row
          label(for='rate') Hourly Base Rate:
          input#baseRate(type='number', value='200')
          button#updateRate(type='button') Update Rate
        br
        .row
          label(for='rule') Add Rule:
          br
          label(for='rule') Price increase/decrease
          select#ruleSign
            option(value='true') +
            option(value='') -
          label(for='rule') $
          input#rule(type='number', value='0')
          button#createRule.button-primary(type='button') Create Rule
        br
        .row
          button#calculate(type='button') Calculate Final Rate
      h3 Final Rate:
      h4 $
        span#finalHourlyRate

      h3 Rules Applied:


  script(src='/vendor/jquery/dist/jquery.js')
  script(src='/js/rateNamespace.js')
  script(src='/js/main.js')
  script(src='/js/rate.js')
  script(src='/js/rule.js')

